<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
	
	<nav class="navbar navbar-inverse navbar-static-top" >
		
		<div class="container-fluid">
			
			<div class="navbar-header" >
				
				<a class="navbar-brand" href="#">CRUD Produto</a>
				
				<ul class="nav navbar-nav">
					
					<li><a href="/produtos/novo">Cadastrar</a></li>
					
					<li><a href="/produtos">Listar</a></li>
					
				</ul>
				
			</div>
			
		</div>
		
	</nav>
	
</html>